---
import BaseLayout from "./Common.astro";
import { type CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">["data"];
const { title, subtitle, date, category, image, tags, lang } = Astro.props;

import { getLangFromUrl, useTranslations } from "../i18n/utils";

const currentLang = getLangFromUrl(Astro.url);
const t = useTranslations(currentLang);

import { getCollection } from "astro:content";
const blogEntries = (await getCollection("blog"))
  .filter(function (blogEntry) {
    return blogEntry.data.tags.some((element: any) => {
      return tags.indexOf(element) !== -1;
    });
  })
  .filter((blogEntry) => blogEntry.data.lang == currentLang)
  .sort(() => Math.random() - 0.5)
  .slice(0, 4);
---

<BaseLayout>
  <!-- Blog Details section end -->
  <section class="blog__details__area pt-80 pb-30">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12">
          <div class="blog__details-top cf_parallax_image">
            <img
              src={image}
              alt={title}
              data-speed="0.9"
              style="    max-height: 400px;
              width: 100%;
              object-fit:cover;"
            />
          </div>

          <div class="blog__details-wrap">
            <div class="blog__details-info">
              <ul>
                <li>
                  <span>{t('post.header.category')}</span>
                  <a href="#">{category}</a>
                </li>
                <li>
                  <span>{t('post.header.language')}</span>
                  <a href="#">{lang}</a>
                </li>
                <li>
                  <span>{t('post.header.date')}</span>
                  <a href="javascript:void(0)"
                    >{
                      date.toLocaleDateString(lang, {
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                      })
                    }</a
                  >
                </li>
              </ul>
              <h1 class="blog__details_title">
                {title}
              </h1>
              <h5>{subtitle}</h5>
            </div>

            <div class="blog__details">
              <slot />
            </div>

            <div class="blog__tag">
              <p class="blog__tag-title">Tags /</p>
              <ul>
                {
                  tags.map((tag) => (
                    <li>
                      <a href={`/${lang}/blog?tag=${tag}`}>{tag} </a> /{" "}
                    </li>
                  ))
                }
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Blog Details section start -->

  <!-- Recent Blog section start -->
  <section class="blog__related pb-120">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12">
          <div class="sec-title-wrapper pt-120">
            <h2 class="sec-sub-title mb-20">Blog</h2>
            <h3 class="sec-title">{t('post.related.title')}</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xxl-12">
          <div class="blog__related-grid">
            {
              blogEntries.map((post) => (
                <article class="lb-blog__item blog-img-zoom">
                  <div class="thumb">
                    <a href={`${post.slug.split("/")[1]}`}>
                      <img src={post.data.image} />
                    </a>
                  </div>
                  <ul class="lb-blog__meta">
                    <li>
                      <span>
                        {post.data.date.toLocaleString("en-US", {
                          year: "numeric",
                          month: "short",
                          day: "numeric",
                        })}
                      </span>
                    </li>
                  </ul>
                  <a href="blog-details.html">
                    <h3 class="lb-blog__title">{post.data.title}</h3>
                  </a>
                </article>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Recent Blog section end -->
</BaseLayout>
