---
import BaseLayout from "../../../layouts/Common.astro";
import { getLangFromUrl } from '../../../i18n/utils';
import { getBlogPosts } from "../../../content/config";

const lang = getLangFromUrl(Astro.url);

const posts = (await getBlogPosts())
  ?.filter((blog) => {
    return blog?.data?.lang === lang;
  })
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

export async function getStaticPaths() {
  return ["en", "it"].map((lang) => {
    return { params: { lang } };
  });
}
---

<BaseLayout>
  <div class="main-blog__area pt-130 pt-120 pb-120">
    <div class="container ptf-0">
      <div class="row">
        <div class="col-xxl-12">
          <div class="main-blog__grid">
            {
              posts.map((post) => (
                <article class="lb-blog__item blog-img-zoom">
                  <div class="thumb">
                    <a href={`/${lang}/blog/${post.blog_slug}`}>
                      <img style=""
                        src={post.data.image}
                        alt={post.data.title}
                      />
                    </a>
                  </div>
                  <ul class="lb-blog__meta">
                    <li>
                      {post.data.date.toLocaleString("en-US", {
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                      })}
                    </li>
                  </ul>
                  <a href={`/${lang}/blog/${post.blog_slug}`}>
                    <h3 class="lb-blog__title">{post.data.title}</h3>
                    {post.data.subtitle}
                  </a>
                </article>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
