---
import BaseLayout from "../../../layouts/Common.astro";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
import { getBlogPosts } from "../../../content/config";
import Tickets from "../../../components/Tickets.astro";

export const prerender = true;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const tag = Astro.url.searchParams.get("tag") || "";
const dateLocale = lang === "it" ? "it-IT" : "en-US";

var posts = (await getBlogPosts())
  ?.filter((blog) => {
    return blog?.data?.lang === lang;
  })
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

if (tag.length > 0) {
  posts = posts.filter(function (blogEntry) {
    return blogEntry.data.tags.indexOf(tag) !== -1;
    });
}

export async function getStaticPaths() {
  return ["en", "it"].map((lang) => {
    return { params: { lang } };
  });
}
---

<BaseLayout title={t("seo.blog.title")} description={t("seo.blog.description")}>
  <div class="main-blog__area pt-130 pt-120 pb-120">
    <div class="container ptf-0">
      <div class="row">
        <div class="col-xxl-12">
          <h1 class="sec-title blog-index__h1 mb-50">{t("blog.index.heading")}</h1>
          <div class="main-blog__grid">
            {
              posts.map((post) => (
                <article class="lb-blog__item blog-img-zoom">
                  <div class="thumb">
                    <a href={`/${lang}/blog/${post.blog_slug}`}>
                      <img
                        style=""
                        src={post.data.image}
                        alt={post.data.title}
                        width={800}
                        height={450}
                        sizes="(max-width: 768px) 100vw, 50vw"
                        loading="lazy"
                        decoding="async"
                      />
                    </a>
                  </div>
                  <ul class="lb-blog__meta">
                    <li>
                      {post.data.date.toLocaleString(dateLocale, {
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                      })}
                    </li>
                  </ul>
                  <a href={`/${lang}/blog/${post.blog_slug}`}>
                    <h3 class="lb-blog__title">{post.data.title}</h3>
                    {post.data.subtitle}
                  </a>
                </article>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <Tickets />
</BaseLayout>
